@import '../../vendor/normalize.css';

@font-face {
  font-family: 'DrukCyr';
  src: url('/fonts/DrukCyr-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Drukwidecyr';
  src: url('/fonts/drukwidecyr-medium.woff2') format('woff2'),
    url('/fonts/drukwidecyr-medium.woff') format('woff'),
    url('/fonts/drukwidecyr-medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
}

html {
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 2224px) {
    font-size: calc(1vw + 8px);
  }

  @media (max-width: 1300px) {
    font-size: 14px;
  }

  @media (max-width: 1100px) {
    font-size: 12px;
  }

  @media (max-width: 1000px) {
    font-size: 10px;
  }

  @media (max-width: 800px) {
    font-size: 8px;
  }

  @media (max-width: 640px) {
    font-size: 8px;
  }
}
