// Цвет навигационных кнопок
$swiper-navigation-color: #007bff;

// Цвет точки пагинации (неактивной)
$swiper-pagination-bullet-inactive-color: #d3d3d3;

// Цвет точки пагинации (активной)
$swiper-pagination-bullet-active-color: #007bff;

// Размер точки пагинации
$swiper-pagination-bullet-size: 12px;

// Расстояние между точками пагинации
$swiper-pagination-bullet-horizontal-gap: 8px;

// Размер кнопок навигации
$swiper-navigation-size: 44px;
